body	{
	background-image: url('mist.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	
}



h1	{
	font-family: courier;
	font-size: 3em;
}

p	{
	font-family: courier;
	font-size: 1.5em;
}